<div className="card">
  <div className="card-header"> Register </div>
  <div className="card-body">
    <div class="form-group">
      <label for="txtEmail">Email</label>
      <input type="text" name="email" id="txtEmail" class="form-control">
    </div>
    <form action="" method="post">

    </form>
  </div>
</div>