<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        body {
            height: 100vh;
            background-color: gainsboro;
        }
    </style>
</head>



<body>


    <div class="container-fluid h-100 ">
        <div class="row h-100 align-items-center">
            <div class="col-12  ">
                <div class="card shadow w-50 mx-auto  ">
                    <div class="card-body text-center ">
                        <div class="card-title">Ooops</div>
                        <h2 class="text-danger">404 Not Found</h2>
                        <div class="card-text">
                            Sorry, an error has occured. Requested page not found.
                        </div>

                        <div class="mt-3">
                            <a href="/" class="btn btn-primary">Home <i class="fa fa-home"></i> </a>
                            <a href="javascript:;" class="btn btn-success">
                                Contact support <i class="fa fa-envelope"></i> </a>


                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>