<form method="POST" action="">
  <div class="card">
    <h5 class="card-header">
      New Category
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Category Name</label>
        <input name="cateName" type="text" class="form-control" id="txtCatName" autofocus placeholder="Enter category">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>



    </div>

    <div class="card-footer text-muted">
      <a href="/admin/categories" role="button" class="btn btn-primary">
        <i class="fa fa-backward" aria-hidden="true">
          Back to list
        </i>
      </a>
      <button type="submit" class="btn btn-outline-success">

        <i class="fa fa-check"> Save</i>
      </button>
    </div>
  </div>
</form>